input[type="radio"] {
    background-color: #fff;
    margin: .25em;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border: 0.2em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
}
  
input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(#7600bc);
}
  
input[type="radio"]:checked::before {
    transform: scale(1);
}